<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hippi Mobiles</title>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />

  <!-- MDB -->
  <!-- <link
href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
rel="stylesheet"
/> -->

  <!-- MDB -->
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script> -->
</head>

<body>

  <!-- Main Navbar Start -->
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
      <a href="index.html" class="navbar-brand font-weight-bold">Hippi Mobiles</a>

      <button class="navbar-toggler" data-toggle="collapse" data-target="#hippi-mobiles-navbar">
        <i class="navbar-toggler-icon"></i>
      </button>

      <div class="collapse navbar-collapse " id="hippi-mobiles-navbar">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a href="" class="nav-link font-weight-bold text-black px-3">Home</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link font-weight-bold text-black px-3">Features</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link font-weight-bold text-black px-3">Experience</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link font-weight-bold text-black px-3">Customers</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Main Navbar End -->

  <!-- FullScreen Landing Section Start -->

  <section class="fullscreen-landing">
    <div class="overlay d-flex flex-column text-center text-white h-100 justify-content-center align-items-center">
      <h5 class="display-4">
        Hippi Mobiles
      </h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A perspiciatis beatae rerum quia voluptatem numquam
        sapiente laudantium modi sunt, corporis quos molestias totam cupiditate praesentium accusamus adipisci quaerat
        ratione aliquam?</p>

      <form>
        <div class="form-group">
          <input type="search" placeholder="Search a Mobile " class="form-control search-box">
        </div>
      </form>
    </div>

  </section>
  <!-- FullScreen Landing Section End-->

  <!-- Features Section Start -->

  <section class="p-3  bg-light">

    <div class="container ">
      <div class="row text-center">
        <div class="col-sm-4">
          <i class="fa fa-mobile-alt fa-4x text-warning"></i>
          <h1>Greate Experience</h1>
          <p class="lead"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita nostrum, eum libero nam
            officia a omnis debitis, sapiente perferendis dicta voluptate, quibusdam numquam obcaecati quod commodi!
            Magnam explicabo corporis error.</p>
        </div>

        <div class="col-sm-4">
          <i class="fa fa-seedling fa-4x text-success"></i>
          <h1>Greate Experience</h1>
          <p class="lead"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita nostrum, eum libero nam
            officia a omnis debitis, sapiente perferendis dicta voluptate, quibusdam numquam obcaecati quod commodi!
            Magnam explicabo corporis error.</p>
        </div>
        <div class="col-sm-4">
          <i class="fa fa-layer-group fa-4x text-primary"></i>
          <h1>Greate Experience</h1>
          <p class="lead"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita nostrum, eum libero nam
            officia a omnis debitis, sapiente perferendis dicta voluptate, quibusdam numquam obcaecati quod commodi!
            Magnam explicabo corporis error.</p>
        </div>
      </div>

    </div>

  </section>

  <!-- Features Section End -->

  <!-- Experience Section Start -->
  <section class="p-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-6">
          <h1 class="text-warning">Enjoy Loved The Music</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque minus enim tenetur veritatis
            provident maxime praesentium distinctio mollitia accusantium, ipsam facilis ab labore aliquam iusto
            perferendis ad deleniti nobis deserunt! Accusantium quos culpa facilis non consequatur? Possimus maiores
            iste quae quo eius suscipit eaque, modi excepturi error. Rerum, voluptas vel!</p>
        </div>
        <div class="col-sm-6">
          <img src="assets/imges/experience_1.jpg" alt="" class="img-fluid rounded-pill">
        </div>
      </div>

      <div class="row align-items-center mt-5">
        <div class="col-sm-6">
          <img src="assets/imges/experience_2.jpg" alt="" class="img-fluid rounded-pill">
        </div>
        <div class="col-sm-6">
          <h1 class="text-success">Water Resistant</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque minus enim tenetur veritatis
            provident maxime praesentium distinctio mollitia accusantium, ipsam facilis ab labore aliquam iusto
            perferendis ad deleniti nobis deserunt! Accusantium quos culpa facilis non consequatur? Possimus maiores
            iste quae quo eius suscipit eaque, modi excepturi error. Rerum, voluptas vel!</p>

        </div>
      </div>

      <div class="row align-items-center mt-5">
        <div class="col-sm-6">
          <h1 class="text-primary">Feel Touch Experience</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque minus enim tenetur veritatis
            provident maxime praesentium distinctio mollitia accusantium, ipsam facilis ab labore aliquam iusto
            perferendis ad deleniti nobis deserunt! Accusantium quos culpa facilis non consequatur? Possimus maiores
            iste quae quo eius suscipit eaque, modi excepturi error. Rerum, voluptas vel!</p>
        </div>
        <div class="col-sm-6">
          <img src="assets/imges/experience_3.jpg" alt="" class="img-fluid rounded-pill">
        </div>
      </div>
    </div>
  </section>

  <!-- Experience Section End -->

  <!-- Customers Section Start -->

  <section class="p-5 bg-light">
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <h1>
            <span class="text-warning">Our</span>
            <span class="text-success"> Happy</span>
            <span class="text-primary"> Customers</span>
          </h1>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <div class="carousel slide" data-ride="carousel" id="customers-carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row text-center">
                  <div class="col-sm-4">
                    <img src="assets/imges/person_1.jpg" alt="" class="img-fluid rounded-circle w-50">
                    <h1>Laura Williams</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo eaque illum sit harum illo
                      praesentium, error cum animi neque, cupiditate consequuntur quidem accusantium, at expedita
                      voluptates labore velit explicabo culpa.</p>
                  </div>
                  <div class="col-sm-4">
                    <img src="assets/imges/person_2.jpg" alt="" class="img-fluid rounded-circle w-50">
                    <h1>Jhon Wilson</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo eaque illum sit harum illo
                      praesentium, error cum animi neque, cupiditate consequuntur quidem accusantium, at expedita
                      voluptates labore velit explicabo culpa.</p>
                  </div>
                  <div class="col-sm-4">
                    <img src="assets/imges/person_3.jpg" alt="" class="img-fluid rounded-circle w-50">
                    <h1>Lim Johns</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo eaque illum sit harum illo
                      praesentium, error cum animi neque, cupiditate consequuntur quidem accusantium, at expedita
                      voluptates labore velit explicabo culpa.</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item ">
                <div class="row text-center">
                  <div class="col-sm-4">
                    <img src="assets/imges/person_1.jpg" alt="" class="img-fluid rounded-circle w-50">
                    <h1>Laura Williams</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo eaque illum sit harum illo
                      praesentium, error cum animi neque, cupiditate consequuntur quidem accusantium, at expedita
                      voluptates labore velit explicabo culpa.</p>
                  </div>
                  <div class="col-sm-4">
                    <img src="assets/imges/person_2.jpg" alt="" class="img-fluid rounded-circle w-50">
                    <h1>Jhon Wilson</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo eaque illum sit harum illo
                      praesentium, error cum animi neque, cupiditate consequuntur quidem accusantium, at expedita
                      voluptates labore velit explicabo culpa.</p>
                  </div>
                  <div class="col-sm-4">
                    <img src="assets/imges/person_3.jpg" alt="" class="img-fluid rounded-circle w-50">
                    <h1>Lim Johns</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo eaque illum sit harum illo
                      praesentium, error cum animi neque, cupiditate consequuntur quidem accusantium, at expedita
                      voluptates labore velit explicabo culpa.</p>
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon " aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- Customers Section End -->
  <!-- Subscribe Section Start -->

  <section class="subscribe-section">
    <div class="subscribe-overlay p-5 ">
      <div class="text-white text-center">
        <h1>What are you waiting for?</h1>
        <form class="form-inline justify-content-center align-items-center d-flex">
          <div class="form-group">
            <input type="email" placeholder="abc@gmail.com" class="form-control">
          </div>
          <div class="m-2">
            <input type="submit" value="Subscribe" class="btn btn-light">
          </div>
        </form>
      </div>
    </div>
  </section>
  <!-- Subscribe Section End -->

  <!-- Main Footer Start-->
  <section class="p-3 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <a href="">About Us</a>|
          <a href="">Contact Us</a>|
          <a href="">Terms And Use</a>|
          <a href="">Privacy Policy</a>
          <p href="" class="mt-2"> Copyright &copy;2023,Hippi Mobiles</p>
          <p>All Right Reserved</p>
        </div>
        <div class="col-sm-4">
          <i class="fab fa-facebook-square fa-4x text-primary m-3"></i>
          <i class="fab fa-whatsapp fa-4x text-success m-3"></i>
          <i class="fab fa-instagram fa-4x text-danger m-3"></i>
        </div>

      </div>

    </div>

  </section>

  <!-- Main Footer End-->

</body>

</html>
